@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root{
--very-dark-blue: hsl(233, 47%, 7%);
--dark-desaturated-blue: hsl(244, 38%, 16%);
--soft-violet: hsl(277, 64%, 61%);
--white: hsl(0, 0%, 100%);
--slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
--slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--dark-desaturated-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

main{
    width: 900px;
    background: var(--white);
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
}

.half{
    width: 50%;
}